@model HouseDetailsViewModel
@inject IAgentService agentService
@inject IHouseService houseService

@{
    ViewBag.Title = "House Details";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="House Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Title</u></p>
            <p>Located in: <b>@Model.Address</b></p>
            <p>
                Price Per Month:
                <b>@String.Format("{0:f2}", Model.PricePerMonth) BGN</b>
            </p>
            <p>@Model.Description</p>
            <p>Category: <b>@Model.Category</b></p>
            <p><i>(@(Model.IsRented ? "Rented" : "Not Rented"))</i></p>
            <div class="form-inline">
                @if (this.User.Identity?.IsAuthenticated ?? false)
                {
                    if (await this.houseService.HasAgentWithIdAsync(Model.Id, this.User.Id()))
                    {
                        <a asp-controller="House" asp-action="Edit" asp-route-id="@Model.Id"
                           class="btn btn-warning">Edit</a>
                        <a asp-controller="House" asp-action="Delete" asp-route-id="@Model.Id"
                           class="btn btn-danger">Delete</a>
                    }

                    <p></p>
                    @if (!Model.IsRented)
                    {
                        if (!Model.IsRented && await agentService.ExistsById(this.User.Id()) == false)
                        {
                            <form class="input-group-sm" asp-controller="House"
                                  asp-action="Rent" asp-route-id="@Model.Id" method="post">
                                <input class="btn btn-primary" type="submit" value="Rent" />
                            </form>
                        }
                    }
                    else if (await this.houseService.IsRentedByUserWithIdAsync(Model.Id, this.User.Id()))
                    {
                        <form asp-controller="House" asp-action="Leave"
                              asp-route-id="@Model.Id" method="post">
                            <input class="btn btn-primary" type="submit" value="Leave" />
                        </form>
                    }
                }
            </div>
            <p></p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Agent Info</h5>
                    @if (Model.Agent.FullName != null)
                    {
                        <p class="card-text">Full Name: @Model.Agent.FullName</p>
                    }
                    <p class="card-text">Email: @Model.Agent.Email</p>
                    <p class="card-text">Phone Number: @Model.Agent.PhoneNumber</p>
                </div>
            </div>
        </div>
    </div>
</div>